APScheduler==3.10.1
asyncio==3.4.3
beautifulsoup4
colorlog==6.7.0
edge-tts
psutil
fuzzywuzzy==0.18.0
httpx<0.28.1
openpyxl==3.1.2
PicImageSearch
Pillow==10.0.0
PyYAML
regex
requests==2.28.2
soundfile==0.12.1
websockets==10.4
yiri-mirai
zhipuai==1.0.7
google-generativeai
openai
anthropic
bingart
emoji
ruamel.yaml
jmcomic
img2pdf
lanzou-api
pytubefix
wordcloud
librosa
scipy
jieba
cn2an
torch
pypinyin
jamo
pyopenjtalk
unidecode
inflect
numpy
numba
mirai
